{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}

<div class="block">

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/E.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lara Loicq. CEO and Web Developer.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/me.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Thibaut Janssens. Product Manager.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="./_shared/img/boss.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Ludivine H. Business analyst.</p>
  </div>
</div>
  
<div class="card" style="width: 18rem;">
  <img src="./_shared/img/samuel.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Samuel Degueldre. Nasa ingeneer.</p>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="./_shared/img/D.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Julien Cara. Team Leader.</p>
  </div>
</div>

</div>
  



























{% endblock %}